.body {
	display: relative;
	background: aqua;
}

/*main-container box*/
.main-container {
	width: 750px;
	height: 250px;
	background: linear-gradient(291deg, rgba(205,196,15,0.7890173410404624) 26%, rgba(0,0,0,0.2716763005780347) 100%);
	position: absolute;
	top: 30%;
	left: 30%;
	border: 2px solid grey;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
}

.main-container .title {
	font-size: 80px;
	text-transform: capitalize;
}


/*functional parts*/
/*adjust timer-box*/
.timer {
	width: 90%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


/*set and start/reset buttons*/
.function {
	height: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.function .function-button {
	width: 100%;
	padding: 4px;
	color: #23f584;
	font-size: 20px;
	border: 2px solid #9e7d7d;
	border-radius: 20px;
	background: linear-gradient(0deg, rgba(83,26,152,0.9855491329479769) 26%, rgba(0,0,0,0.5578034682080926) 100%);	box-shadow: 2px 2px 5px #61598496;
}


/*number, unit and increase-decrease  box*/
.main-container .time-box {
	width: 150px;
	height: 100px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*adjust size of minute and second box*/
.main-container .minute{
	width: 170px;
}
.main-container .second{
	width: 170px;
}

/*adjust text inside time boxes*/
.text {
	color: #27261f;
	font-size: 40px;
	border: 2px solid #9e7d7d;
	border-radius: 10px;
	background: #BBB;
	box-shadow: 2px 2px 5px #61598496;
	flex-grow: 0.3;
	text-align: center;
}

/*increase and decrease buttons*/
.set-time-button {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.set-time-button .decrease {
	transform: rotateX(180deg);
}

/*increase and decrease buttons' containers*/
.button-container {
	border: 2px solid #191919;
	border-radius: 7px;
	background: #BBB;
	box-shadow: 2px 2px 5px #61598496;
}

/*adjust increase and decreas button*/
.button {
	padding: 2px 2px 0px;
	width: 25px;
	height: 25px;
}